ul li {
    padding: 5px;
    margin-left: 5px;
}

.button {
    width: 120px;
    border: 2px solid #000000;
    border-radius: 4px;
    background-color: #eee;
    color: #222;
    font-size: 12px;
    padding: 10px 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #929dee;
}

@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .grid {
        gap: 10px;
    }
}