/* styling for pokedex page */


body {
    font-size: 14px;
    /* padding: 10px; */
    margin: 10px;
    align-items: center;
    /* background-color: blue; */
}

h5 {
    font-size: 32px;
}

p {
    font-size: 28px;
}

span {
    font-size: 40px;
    color: red;
}

.page-container {
    margin-top: 100px;
}

.navbar {
    /* background-color: inherit; */
    background-color: white;
    border: 2px solid black;
}

.navbar-brand {
    font-size: 42px;
}

.form-control {
    border: 2px solid black;
}

ul li {
    padding: 5px;
    margin-left: 5px;
}

.pageTitle {
    text-align: center;
}

.pokemon-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.btn-primary {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 5px solid #000;
    text-transform: capitalize;
    background: linear-gradient(0deg, white, black 50%, red);
    font-size: 24px;
    padding: 5px;
}

.btn-primary:hover {
  border-color: yellow;
}

.list-group-item {
    width: 100%;
    height: 100%;
    border: none;
    padding: 5px;
    background-color: inherit;
    /* margin: 5px; */
    align-content: center;
}

.modal {
    display: none;
    background: transparent;
    color: #000;
}

.modal-content {
    /* background-color: rgb(179, 167, 228); */
    background: linear-gradient(0deg, rgb(179, 167, 228), white);
}

.modal-header {}

.modal-title {
    text-transform: capitalize;
}

.modal-body {}

.pokemon-image-container,
.pokemon-data-container {
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon-image-window {
    background: #000;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #000;
}

.pokemon-image {
    width: 60%;
}

/* .pokemon-data-container {} */

.pokemon-height,
.pokemon-weight {
    border: 1px solid black;
    font-size: 1.2em;
}

.pokemon-types,
.pokemon-abilities {
    text-transform: capitalize;
    font-size: 1.2em;
}

.modal-footer {
    /* border: none; */
    border: 1px solid black;
}